* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: #262626; */
  /* background-color: #334155; */
  background-color: #393939;
  color: #5d5d5d;
  /* font-family: system-ui; */
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 14px;
  position: relative;
}

.container {
  width: 70%;
  margin: 1em auto;
  background-color: #fff;
  border: 2px solid #05204a;
}
header {
  /* background-color: #164e63; */
  /* background-color: #bae6fd; */
  border-top: 1px solid #e4e4e4;
  /* border-left: 1px solid #e4e4e4; */
  /* border-right: 10px solid #e4e4e4;
  border-left: 10px solid #e4e4e4; */
  margin: 0 auto;
  align-items: center;
  /* flex-direction: column; */
}

@media (max-width: 600px) {
  header {
    flex-direction: column;
    justify-content: center;
  }
}

img {
  width: 10vw;
  height: auto;
  margin: 2%;
}

.display {
  display: none;
}

h1 {
  border-bottom: 1px solid #05204a;
  width: 88%;
  padding: 1.2% 0;
  margin-left: 5%;
  text-align: left;
  /* margin-bottom: 2%; */
}

h2 {
  text-align: right;
  padding: 1.2% 0;
  margin-right: 7%;
}

section {
  /* background-color: #164e63; */
  /* background-color: #bae6fd; */
  border-left: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
}

h3 {
  /* background-color: #e4e4e4; */
  background-color: #05204a;
  /* color: #404040; */
  color: #f4fdff;
  border-right: 10px solid #808080;
  border-left: 10px solid #808080;
  text-align: center;
  padding: 5px 0;
  margin: 1em 0;
  margin-top: 0;
}

section li,
aside li {
  list-style-type: none;
  padding: 5px;
}

a {
  text-decoration: none;
  /* color: #ffffff; */
}

a:link,
a:hover {
  color: #8b9eb7 !important;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

a:visited,
a:active {
  color: #d7ba89;
  cursor: pointer;
}

.articleOne p {
  padding: 10px;
  text-align: center;
  color: #d7ba89;
  font-weight: 700;
  font-size: 1.2em;
  text-transform: uppercase;
  z-index: 1;
}

.articleTwo li,
.articleThree p,
aside p {
  margin: 0 2em;
}

.articleThree p {
  padding: 5px;
}
.articleTwo li:last-child {
  margin-bottom: 1em;
}

.articleThree p:last-child,
aside li:last-child {
  margin-bottom: 1em;
}

aside {
  /* background-color: #164e63; */
  border-left: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
}

aside p {
  line-height: 2;
  margin-bottom: 1em;
}

footer {
  /* background-color: #3a3a3a; */
  /* background-color: #164e63; */
  background-color: #05204a;
  color: #f4fdff;
  text-align: center;
  border-left: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
  border-top: 1px solid #e4e4e4;
  /* margin-top: 2%; */
}
footer li {
  display: inline-block;
}
footer p {
  background-color: #e4e4e4;

  /* color: #5d5d5d; */
  color: #d7ba89;
  border-top: 1px solid Black;
  border-left: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
}

footer li {
  padding: 5px 0;
}

.footer {
  display: flex;
  padding-left: 1em;
  font-style: normal;
  font-size: 15px;
  font-weight: lighter;
}

#flashlight {
  --Xpos: 580px;
  --Ypos: 100px;
}

#flashlight::before {
  content: "";
  display: inline-flex;
  width: 100%;
  height: 100%;
  z-index: 2;
  position: absolute;
  background: radial-gradient(
    circle 15em at var(--Xpos) var(--Ypos),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1)
  );
  cursor: none;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  padding: 5px 10px;
  /* border-radius: 5px; */
  border: none;
  margin-top: 10px;
  background-color: #d7ba89;
  color: #ffffff;
  letter-spacing: 1px;
}

button:hover {
  background-color: #05204a;
  color: #d7ba89;
  cursor: pointer;
}

/* -----------accordion------------ */

.accordion {
  background-color: #ffffff;
  color: #444;
  cursor: pointer;
  padding: 1em 2em;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  font-weight: bold;
  font-size: 1em;
}

.accordion:hover {
  background-color: #ebebeb;
}

.panel {
  padding: 0 18px;
  background-color: #fff;
  display: none;
  overflow: hidden;
}

.accordion:after {
  content: "\02795"; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.projects {
  display: flex;
  flex-direction: column;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
/* slides */
.articleOne p {
  opacity: 0;
  animation-fill-mode: forwards;
  animation-duration: 2s;
}

.articleOne .left {
  animation-name: slideInLeft;
}

.articleOne .right {
  animation-name: slideInRight;
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* .articleOne p.left {
  text-shadow: 2px 2px 3px rgba(182, 254, 1, 0.5);
}

.articleOne p.right {
  text-shadow: -2px 2px 3px rgba(175, 194, 0, 0.5);
} */

.projects-title {
  margin-top: 0;
}
